@import url("https://fonts.googleapis.com/css?family=Merienda:700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
footer {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
footer > p {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
}
header{
    height: 100vh;
}
.heading {
    display: inline-block;
    font-family: 'Merienda', cursive;
    font-size: 45pt;
    font-weight: 700;
}
#divLeft {
    background: url("../img/dosa2.jpg");
    background-size: cover;
}
#login {
    max-width: 360px;
    max-height: 65%;
    border: 2px solid #6599fc;
}
#login-bt {
    margin: 30px 0 10px 0;
    font-size: 15pt;
    width: 40%;
    height: 50px;
    font-family: 'Fira Sans', sans-serif;
}
#login-bt:hover {
    border: 2px solid #6599fc;
    background: white;
    color: #6599fc;
}
#signup {
    font-family: 'Open Sans', sans-serif;
}

#log-ph {
    margin-top: 50px;
    font-size: 24pt;
    font-family: 'Open Sans', sans-serif;
    min-height: 129px;
    margin-right: 25px;
}
#log-head {
    font-family: 'Merienda', cursive !important;
}
.txt {
    font-size: 10pt;
    height: 35px;
    width: 77%;
    padding: 7px;
    margin: 10px;
    border: 2px none #6599fc;
    border-bottom-style: solid;
}
#log-photo {
    position: relative;
    background: url("../img/profile2.png");
    height: 100px;
    width: 100px;
    margin: 10px auto;
    background-size: cover;
}
#div2left {
    background: #6599fc;
    color: white;
    height: 300px;
}
#div2Right {
    height: 300px;
    background: #6599fc;
}
#about {
    position: center;
    font-size: 32pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 125px;
    margin-left: 25px;
}
#about-content {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    margin-top: 10%;
}
ul {
    list-style-type: none;
}
#heading {
    display: inline-block;
    font-family: 'Merienda', cursive;
    font-size: 35pt;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 12px;
    color: white;
}
#top-bar {
    color: white;
    background: #6599fc;
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}
.btn2 {
    background: #6599fc;
    color: white;
}
#signup {
    font-family: 'Fira Sans', sans-serif;
    border: 2px solid #6599fc;
    margin: auto;
    text-align: center;
    max-width: 350px;
}
.btn2:hover {
    border: 2px solid #6599fc;
    background: white;
    color: #6599fc;
}
#signup-btn {
    margin-top: 25px;
    font-size: 15pt;
    width: 40%;
    height: 50px;
    font-family: 'Fira Sans', sans-serif;
}
a {
    text-decoration: none;
}
#signup-head {
    font-family: 'Open Sans', sans-serif;
    font-size: 23pt;
    font-weight: 700;
}
#menu {
    margin: 15px;
    border: 2px solid white;
    padding: 0 8px 0 8px;
    font-weight: 700;
    font-size: 25pt;
    width: auto;
}
#menu:hover {
    background: white;
    color: #6599fc;
    border: 2px solid #6599fc;
}
#nav-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 0;
    top:100px;
    background-color: #6599fc;
    overflow-x: hidden;
    transition: 0.5s;
}
#nav-bar a {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
#nav-bar a:hover {
    background: white;
    color: #6599fc;
}
#close-btn{
    background: #6599fc;
    color: white;
    float: right;
    margin-right: 25px;
}
#close-btn :hover {
    background: white;
    color: #6599fc;
}
/* * {
    border: 1px solid #f00 !important;
  } */

#foodType {
    width: 12%;
}
.pointer {
    cursor: default;
}
#imageSlider {
    height: 50vh;
    overflow: hidden;
    margin-top: 100px;
}
.restaurent{
    margin: 20px;
    padding: 10px;
}

#Hotels{
    margin: 0 !important;
}
